@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'KoHo', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-image {
  width: 50%;
  overflow: hidden;
  max-height: 840px;
}

.main-image img {
  width: 100%;
}
.image {
  width: 100%;
  height: 100%;
  transition: 0.3s ease all;
}

.image img {
  width: 100%;
  height: 100%;
}

.hero {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title {
  transform: translateY(-150%);
}

.title-active {
  transform: translateY(70%);
  background: rgba(255, 255, 255, 0.9);
  padding: 0.3rem;
  border: 1px solid #ccc;
  width: 70%;
  margin: 0 auto;
}
